.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.card {
  margin: 0 2% 50px !important;
}

.infected {
  border-bottom: 10px solid rgb(0, 143, 251);
}

.recovered {
  border-bottom: 10px solid rgb(0, 227, 150);
}

.deaths {
  border-bottom: 10px solid rgb(254, 176, 25);
}

.update {
}
