body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #ecedf0;
}

.app__header {
  position: static;
  top: auto;
  bottom: auto;
  left: auto;
  width: auto;
  z-index: 10;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1) !important;
}

.app__logo {
  overflow: hidden;
}

.app__logo img {
  max-width: 350px;
}

.app__content {
  margin-top: 5rem;
}

.MuiAutocomplete-root {
  padding: 10px 30px;
}

/* .content__left {
  margin: 1rem;
}

.content__right {
  margin: 7rem 2rem !important;
} */

.MuiAutocomplete-listbox {
  width: 100%;
}

.MuiCardContent-root {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.app__stats {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.app__charts {
  margin: 30px;
  position: relative;
}

.MuiCard-root {
  padding: 1vw;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1) !important;
  background-color: #fff !important;
  border: none !important;
  border-radius: 0.25rem !important;
}

.infected {
  border-bottom: 10px solid #1685ff !important;
}

.recovered {
  border-bottom: 10px solid #57d597 !important;
}

.deaths {
  border-bottom: 10px solid #ff4169 !important;
}

.map {
  min-width: 15vw;
  height: 300px;
  background-color: white;
}

.map .leaflet-container {
  margin: 15px;
  height: 100%;
  border-radius: 0.25rem;
}

.info-flag img {
  width: 50px;
  border-radius: 5px;
}

.info-name {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.info-container {
  width: 150px;
}

.info-flag {
  height: 30px;
  width: 50px;
  background-size: cover;
  border-radius: 5px;
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 14px;
  margin-top: 5px;
}

.table {
  margin-top: 20px;
  overflow-y: scroll;
  height: 400px;
  color: rgb(85, 85, 85);
}

.table table {
  width: 100%;
}

.table tr {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
}

.table tr:hover {
  font-weight: bold;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-last-of-type(odd) {
  background-color: #f1f1f1;
}

.spinner {
  display: flex;
  justify-content: center;
}

.spinner img {
  width: 30px;
  padding: 30px;
}

@media (min-width: 1680px) {
}

@media (max-width: 990px) {
  .app__header {
    flex-direction: row;
    padding-bottom: 30px;
    justify-content: center !important;
  }

  /* .content__right {
    margin: 15px auto;
    width: 70%;
    justify-content: center !important;
  }

  .app__charts {
    width: 70% !important;
  } */
}
