body {
  font-family: sans-serif;
  text-align: center;
  background-color: #fcfcfc;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
